DotNetMemoCore/DotNetMemo/Connected Services/SumServiceReference/DotNetMemo.Services.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DotNetMemo.Services.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DotNetMemo.Services.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SumType">
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:int" />
      <xs:element minOccurs="0" name="Second" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SumType" nillable="true" type="tns:SumType" />
</xs:schema>